body{
    margin: 0;
}
.fondo{
    background-image: url(../astro.jpg);
    height: 140vh;
    position: relative;
    display: flex;
    box-sizing: border-box ;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.contenedor{
    background-color: rgba(255, 255, 255, 0.865);
    width: 65%;
    border-radius: 10px;
    text-align: left;
    height: 850px;
    font-family: 'calibri';
    margin: 0;
}
.top2{
    background-color: rgba(243, 77, 77, 0.847);
    margin: 0;
    display: grid;
    height: 10%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.back{
    transition: transform .1s;
}
.back:hover {
    transform: scale(1.3);
}
.top3{
    display: grid;
    grid-template-columns: repeat(3,1fr);;
    justify-content: center; 
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
}
.foto1{
    border-radius: 10px;
    height: 300px;
    cursor: pointer;
    transition: transform .2s;
}

.foto1:hover {
    transform: scale(1.2);
}
.foto2{
    border-radius: 10px;
    height: 100px;
    cursor: pointer;
    transition: transform .2s;
}

.foto2:hover {
    transform: scale(1.2);
}
.foto3{
    margin-left: 12%;
    border-radius: 10px;
    height: 200px;
    cursor: pointer;
    transition: transform .2s;
}
.foto3:hover {
    transform: scale(1.2);
}

.foto4{
    border-radius: 10px;
    height: 200px;
    cursor: pointer;
    transition: transform .2s;
    margin-top: 25%;
}

.foto4:hover {
    transform: scale(1.2);
}