body{
    margin: 0;
}
.Fondo{
    background-image: url(aaa.jpg);
    background-position: center;
    background-size: cover;
    height: 140vh;
    position: relative;
    display: flex;
    box-sizing: border-box ;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.contenedor{
background-color: rgba(146, 184, 230, 0.694);
width: 25%;
padding: 50px;
border-radius: 10px;
text-align: left;
height: 750px;
font-family: 'calibri';
align-items: center;
justify-content: center;
}
.Caja{
  width: 100%;
  background: #dae4dc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #d9dce2;
  font-family: 'calibri';
  font-size: 18px;
  color: rgb(7, 7, 7);
}
.boto{
    width: 100%;
  background: #e05649;
  border: none;
  padding: 12px;
  color: white;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ccc;
  font-family: 'calibri';
  border-radius: 10%;
}